In [31]:
import pandas as pd
import pickle

In [32]:
movie_df = pd.read_csv("mymoviedb.csv",lineterminator='\n')

In [33]:
movie_df.head(1)

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...

In [34]:
movie_df = movie_df[['Release_Date','Title','Genre','Overview']]

In [35]:
movie_df

,Release_Date,Title,Genre,Overview
0,2021-12-15,Spider-Man: No Way Home,"Action, Adventure, Science Fiction",Peter Parker is unmasked and no longer able to...
1,2022-03-01,The Batman,"Crime, Mystery, Thriller","In his second year of fighting crime, Batman u..."
2,2022-02-25,No Exit,Thriller,Stranded at a rest stop in the mountains durin...
3,2021-11-24,Encanto,"Animation, Comedy, Family, Fantasy","The tale of an extraordinary family, the Madri..."
4,2021-12-22,The King's Man,"Action, Adventure, Thriller, War",As a collection of history's worst tyrants and...
...,...,...,...,...
9822,1973-10-15,Badlands,"Drama, Crime",A dramatization of the Starkweather-Fugate kil...
9823,2020-10-01,Violent Delights,Horror,A female vampire falls in love with a man she ...
9824,2016-05-06,The Offering,"Mystery, Thriller, Horror",When young and successful reporter Jamie finds...
9825,2021-03-31,The United States vs. Billie Holiday,"Music, Drama, History",Billie Holiday spent much of her career being ...
9826,1984-09-23,Threads,"War, Drama, Science Fiction",Documentary style account of a nuclear holocau...

In [26]:
pickle.dump(movie_df,open('movie_data.pkl','wb'))

In [40]:
movie_df[movie_data['Title'] == 'The Batman']['Overview']

1    In his second year of fighting crime, Batman u...
Name: Overview, dtype: object